@model xamarinProject.Common.Models.Product

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>Product</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Remarks)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Remarks)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ImagePath)
            </dt>
            <dd class="col-sm-10">
                @if (!string.IsNullOrEmpty(Model.ImagePath))
                {
                    <img src="@Url.Content(Model.ImageFullPath)" alt="Image"
                         style="width:100px;height:150px;max-width:100%;height:auto;" />
                }
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsAvailable)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsAvailable)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PublishOn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PublishOn)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ProductId" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </div>
</body>
</html>
